@model MVC.Models.ComplexData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Simple</title>
</head>
<body>
    <div>
        <p>Welcome to MVC, your id is @Model.Id and your value is @Model.Value</p>
    </div>
</body>
</html>