@model MVC.Models.ConfigExample

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Config</title>
</head>
<body>
    <div>
        <label>Connection String: @Model.ConnectionString</label>
    </div>
    <div>
        <label>Config Data: @Model.ConfigData</label>
    </div>
</body>
</html>
