@model int

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Simple</title>
</head>
<body>
    <div>
        <p>Welome to MVC, your parameter is @Model</p>
    </div>
</body>
</html>
