@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    <li><a href="@Url.Action("Index", "Bad")">Bad</a></li>
    <li><a href="@Url.Action("Index", "Good")">Good</a></li>
    <li><a href="@Url.Action("Index", "Best")">Best</a></li>
</ul>