<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="handleme" verb="GET" type="PipelineExample.Handler"/>
    </httpHandlers>
    <httpModules>
      <add name="Hello" type="PipelineExample.HelloModule"/>
      <add name="World" type="PipelineExample.WorldModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="handleme" path="handleme" verb="GET" type="PipelineExample.Handler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Hello" type="PipelineExample.HelloModule"/>
      <add name="World" type="PipelineExample.WorldModule"/>
    </modules>
  </system.webServer>
</configuration>
